spring-xml-support/src/main/resources/META-INF/spring-xml-support-4.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.springframework.org/schema/customize"
            targetNamespace="http://www.springframework.org/schema/customize">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:element name="instance">
        <xsd:complexType>
            <xsd:attribute name="class-name" type="xsd:string" use="required"/>
            <xsd:attribute name="name" use="optional" type="xsd:string"/>
            <xsd:attribute name="id" use="required" type="xsd:string"/>
            <xsd:attribute name="arg1" use="required" type="xsd:string"/>
            <xsd:attribute name="arg2" use="required" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
